---
- name: Disable Flow Offloading (Required for SQM)
  notify: reload firewall
  community.openwrt.uci:
    command: set
    key: "firewall.@defaults[0].{{ item }}"
    value: '0'
    autocommit: true
  loop:
    - flow_offloading_hw
    - flow_offloading

- name: Detect SQM Interface
  ansible.builtin.set_fact:
    qos_wan_active_interface: "{{ qos.interface | default(ansible_default_ipv4.interface) }}"

- name: Enable SQM
  notify: reload sqm
  community.openwrt.uci:
    command: section
    config: sqm
    type: queue
    name: "ansible_wan"
    value:
      enabled: '1'
      interface: "{{ qos_wan_active_interface }}"
      download: "{{ qos.download_kbps }}"
      upload: "{{ qos.upload_kbps }}"
      qdisc: 'fq_codel'
      script: 'simple.qos'
      linklayer: 'ethernet'
      squash_dscp: '1'
      squash_ingress: '1'
      ingress_ecn: 'ECN'
      egress_ecn: 'ECN'
      qdisc_advanced_run: '1'
      qdisc_really_really_advanced_opts: 'nat dual-dsthost dual-srchost'
    autocommit: true
