---
- name: Disable QoS
  when: qos is not defined
  ansible.builtin.include_tasks: disable.yml

- name: Enable QoS
  when: qos is defined
  ansible.builtin.include_tasks: enable.yml

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
