---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ddclient
  namespace: default
spec:
  chart: oci://tccr.io/truecharts/ddclient
  version: 12.0.8
  targetNamespace: default
  valuesContent: |-
    configmap:
      config:
        enabled: true
        namespace: default
        data:
          ddclient.conf: |
            daemon=300 # check every 300 seconds
            syslog=yes
            pid=/var/run/ddclient/ddclient.pid
            ssl=yes

            use=web, web=checkip.amazonaws.com

            wildcard=yes

            protocol=cloudflare, zone={{ .Values.fqdn }}, ttl=1, password_env=API_KEY {{ .Values.fqdn }}
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                API_KEY:
                  secretKeyRef:
                    name: {{ .Values.fqdn }}-cloudflare
                    key: token
                    expandObjectName: false
    resources:
      requests:
        memory: 32Mi
        cpu: 125m
      limits:
        memory: 128Mi
        cpu: 250m
    podOptions:
      nodeSelector:
        # Schedule only on public nodes
        public: "true"
    persistence:
      config:
        enabled: true
        type: configmap
        mountPath: /defaults
        objectName: config
