# code: language=ansible
---

- name: Setup HAProxy
  become: true
  block:
    - name: Configure Nginx
      ansible.builtin.include_tasks: nginx.yml

    - name: Configure network
      ansible.builtin.include_tasks: network.yml

    - name: Configure firewall
      ansible.builtin.include_tasks: firewall.yml

    - name: Configure port forwarding
      ansible.builtin.include_tasks: port_forwarding.yml

    - name: Configure HAProxy service
      ansible.builtin.include_tasks: service.yml

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
