# code: language=ansible
---

- name: Forward WAN ports to HAProxy VIP
  community.openwrt.uci:
    command: section
    config: firewall
    name: "haproxy_{{ item.name | lower }}"
    type: redirect
    value:
      name: "GL-HAProxy-{{ item.name }}"
      src: wan
      dest: lan
      proto: "{{ item.proto }}"
      src_dport: "{{ item.port }}"
      dest_ip: "{{ haproxy_virtual_ip }}"
      dest_port: "{{ item.port }}"
      target: DNAT
    autocommit: true
  loop:
    - { name: HTTP, port: '80', proto: all }
    - { name: HTTPS, port: '443', proto: all }
    - { name: MX, port: '2465', proto: tcp }
    - { name: SMTP, port: '465', proto: tcp }
    - { name: IMAP, port: '993', proto: tcp }
  loop_control:
    label: "{{ item.name }}"
  notify: reload firewall
