# code: language=ansible
---

- name: Generate HAProxy configuration from template
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy.cfg
    mode: '644'
  notify: Restart haproxy

- name: Enable HAProxy service
  ansible.builtin.service:
    name: haproxy
    enabled: true
    state: started
