---
extends: default

ignore: |
  inventory*.y*ml
  policies.y*ml
  charts/**/*.y*ml
  .ansible/**/*.y*ml

rules:
  line-length: disable
  trailing-spaces: disable
  indentation: disable
  commas:
    level: warning
  comments:
    level: warning
    min-spaces-from-content: 1
  comments-indentation: disable
  braces:
    max-spaces-inside: 1
  octal-values: disable
