global
    log /dev/log local0
    log-tag HAProxy
    maxconn 32000
    ulimit-n 65535
    uid 0
    gid 0
    nosplice
    daemon

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  24h
    timeout server  24h
    option redispatch
    retries 3
    option log-health-checks
    option dontlognull
    option dontlog-normal

frontend http-in
    bind :9080
    mode tcp
    default_backend http-servers

frontend https-in
    bind :9443
    mode tcp
    default_backend https-servers
    acl is_local src 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 127.0.0.0/8
{% if haproxy.bandwidth_limits.incoming is defined %}
    filter bwlim-in incoming-src-limit key src table limit-by-src limit {{ haproxy.bandwidth_limits.incoming }}
    tcp-request content set-bandwidth-limit incoming-src-limit unless is_local
{% endif %}
{% if haproxy.bandwidth_limits.outgoing is defined %}
    filter bwlim-out outgoing-src-limit key src table limit-by-src limit {{ haproxy.bandwidth_limits.outgoing }}
    tcp-request content set-bandwidth-limit outgoing-src-limit unless is_local
{% endif %}

frontend mx-in
    bind :2465
    mode tcp
    default_backend mx-servers

frontend smtp-in
    bind :9465
    mode tcp
    default_backend smtp-servers

frontend imap-in
    bind :9993
    mode tcp
    default_backend imap-servers

backend limit-by-src
    stick-table type ip size 1m expire 300s store bytes_out_rate(1s),bytes_in_rate(1s)

backend http-servers
    mode tcp
    balance roundrobin
    option httpchk
    http-check connect port 8080
    http-check send meth GET uri /ping
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:80 send-proxy-v2 check
{% endfor %}

backend https-servers
    mode tcp
    balance roundrobin
    option httpchk
    http-check connect port 8080
    http-check send meth GET uri /ping
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:443 send-proxy-v2 check
{% endfor %}

backend smtp-servers
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect port 465
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:465 send-proxy-v2 check
{% endfor %}

backend imap-servers
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect port 993
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:993 send-proxy-v2 check
{% endfor %}

backend mx-servers
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect port 2465
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:2465 send-proxy-v2 check
{% endfor %}

frontend prometheus
  bind :8405
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  no log
