global
    log /dev/log local0
    log-tag HAProxy
    maxconn 32000
    ulimit-n 65535
    uid 0
    gid 0
    daemon

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  1m
    timeout server  1m
    option redispatch
    retries 3
    option log-health-checks
    option dontlognull
    option dontlog-normal

frontend http-in
    bind {{ haproxy.virtual_ip | default('192.168.1.2') }}:80
    mode tcp
    default_backend http-servers

frontend https-in
    bind {{ haproxy.virtual_ip | default('192.168.1.2') }}:443
    mode tcp
    default_backend https-servers
    timeout client  24h
    timeout server  24h

frontend mx-in
    bind {{ haproxy.virtual_ip | default('192.168.1.2') }}:2465
    mode tcp
    default_backend mx-servers

frontend smtp-in
    bind {{ haproxy.virtual_ip | default('192.168.1.2') }}:465
    mode tcp
    default_backend smtp-servers

frontend imap-in
    bind {{ haproxy.virtual_ip | default('192.168.1.2') }}:993
    mode tcp
    default_backend imap-servers

backend http-servers
    mode tcp
    balance roundrobin
    option httpchk
    http-check connect port 8080
    http-check send meth GET uri /ping
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:80 send-proxy-v2 check
{% endfor %}

backend https-servers
    mode tcp
    balance roundrobin
    option httpchk
    http-check connect port 8080
    http-check send meth GET uri /ping
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:443 send-proxy-v2 check
{% endfor %}

backend smtp-servers
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect port 465
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:465 send-proxy-v2 check
{% endfor %}

backend imap-servers
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect port 993
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:993 send-proxy-v2 check
{% endfor %}

backend mx-servers
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect port 2465
    default-server inter 3s fall 3 rise 2
{% for name, ip in haproxy.servers.items() %}
    server {{ name }} {{ ip }}:2465 send-proxy-v2 check
{% endfor %}

frontend prometheus
  bind :8405
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  acl network_allowed src 10.0.0.0/8 192.168.0.0/16
  http-request deny unless network_allowed
  no log
