# code: language=ansible
---

- name: Gather facts if not already collected
  ansible.builtin.setup:
  when: ansible_kernel is not defined

- name: Get facts on current container
  community.docker.current_container_facts:

- name: Detect machine type
  ansible.builtin.set_fact:
    is_raspberry_pi: "{{ 'raspi' in ansible_kernel }}"
    is_openwrt: "{{ ansible_distribution == 'OpenWrt' }}"

- name: Detect router network facts
  when: is_openwrt
  block:
    - name: Detect WAN Interface
      ansible.builtin.set_fact:
        ansible_wan_interface: "{{ wan_interface | default(ansible_default_ipv4.interface) }}"

    - name: Detect router LAN IP
      ansible.builtin.set_fact:
        router_lan_ip: "{{ lan_ip | default(ansible_br_lan.ipv4.address) }}"

    - name: Deduce HAProxy virtual IP
      ansible.builtin.set_fact:
        haproxy_virtual_ip: "{{ haproxy.virtual_ip | default(router_lan_ip | ansible.utils.ipmath(1)) }}"

- name: Determine CPU architecture
  ansible.builtin.set_fact:
    cpu_arch: >-
      {{
        'amd64' if ansible_architecture == 'x86_64' else
        'arm64' if ansible_architecture == 'aarch64' else
        'armv7' if ansible_machine == 'armv7l' else
        'unknown'
      }}
