# code: language=ansible
---

- name: Setup headscale
  ansible.builtin.include_tasks: headscale.yml
  when: "'headscale' in group_names"

- name: Setup tailscale
  ansible.builtin.include_tasks: tailscale.yml
  when: "'headscale' not in group_names"
