# code: language=ansible
---

- name: Get headscale auth key if headscale is running
  block:
    - name: Get headscale host
      ansible.builtin.set_fact:
        # Fallback to localhost such that the delegate_to directive below does not fail
        headscale_host: "{{ groups['headscale'][0] | default('localhost') }}"

    - name: Get auth keys from headscale
      when: headscale_host != 'localhost'
      block:
        - name: Generate an auth key
          ansible.builtin.command: "headscale preauthkeys create --user ansible"
          register: headscale_auth_key_result
          changed_when: true
          delegate_to: "{{ headscale_host }}"

        - name: Set tailscale arguments for headscale
          ansible.builtin.set_fact:
            tailscale_oauth_secret: "{{ headscale_auth_key_result.stdout }}"
            login_server_arg: "--login-server {{ hostvars[headscale_host]['headscale_server_url'] }}"

    - name: Fallback to usual tailscale arguments
      ansible.builtin.set_fact:
        login_server_arg: ""
      when: headscale_host == 'localhost'

- name: Tailscale configuration arguments
  ansible.builtin.set_fact:
    # https://github.com/tailscale/tailscale/issues/11717
    netfilter_mode_arg: "{{ '' if is_openwrt else '--netfilter-mode=off' }}"
    advertise_route_arg: "{{ '--advertise-routes=' ~ haproxy_virtual_ip ~ '/32' if is_openwrt else '' }}"

- name: Setup Tailscale
  ansible.builtin.import_role:
    name: artis3n.tailscale.machine
  vars:
    tailscale_manage_binaries_skip: "{{ is_openwrt }}"
    tailscale_oauth_ephemeral: "{{ headscale_host != 'localhost' }}"
    tailscale_authkey: "{{ tailscale_oauth_secret }}"
    tailscale_service: "{{ 'tailscale' if is_openwrt else 'tailscaled' }}"
    tailscale_tags:
      - "ansible"
    tailscale_args: "--accept-dns=false {{ netfilter_mode_arg }} {{ advertise_route_arg }} {{ login_server_arg }}"
