version: "3"

services:
  dind:
    image: docker:28.5.2-dind
    container_name: self-hosted-services-dind
    privileged: true
    restart: unless-stopped
    environment:
      DOCKER_TLS_CERTDIR: "" # Disable TLS for simplicity
    volumes:
      - dind-storage:/var/lib/docker
    networks:
      - devcontainer-network

  devcontainer:
    image: ghcr.io/arch-anes/dev-container-kubernetes-ansible:latest
    container_name: self-hosted-services-devcontainer
    restart: unless-stopped
    volumes:
      - ../:/workspace
      - ./ansible:/etc/ansible
    environment:
      DOCKER_HOST: tcp://dind:2375
    depends_on:
      - dind
    networks:
      - devcontainer-network
    tty: true
    stdin_open: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  dind-storage:

networks:
  devcontainer-network:
