version: "3"

services:
  dind:
    image: docker:dind
    container_name: self-hosted-services-dind
    hostname: dind
    privileged: true
    restart: unless-stopped
    environment:
      DOCKER_TLS_CERTDIR: "/certs"
    volumes:
      - dind-storage:/var/lib/docker
      - dind-certs-client:/certs/client
    networks:
      - devcontainer-network

  devcontainer:
    image: ghcr.io/arch-anes/dev-container-kubernetes-ansible:latest
    container_name: self-hosted-services-devcontainer
    restart: unless-stopped
    volumes:
      - ../:/workspace
      - ./ansible:/etc/ansible
      - dind-certs-client:/certs/client:ro
    environment:
      DOCKER_HOST: tcp://dind:2376
      DOCKER_TLS_VERIFY: "1"
      DOCKER_CERT_PATH: "/certs/client"
    depends_on:
      - dind
    networks:
      - devcontainer-network
    tty: true
    stdin_open: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  dind-storage:
  dind-certs-client:

networks:
  devcontainer-network:
