# code: language=ansible
---

- name: Setup firewall
  ansible.builtin.import_role:
    name: firewall
  vars:
    firewall_rules:
      - { to_port: 5001, proto: tcp, rule: allow, comment: "Spegel P2P image registry" }
      - { to_port: 6443, proto: tcp, rule: allow, comment: "Kubernetes API Server" }
      - { to_port: 8472, proto: udp, rule: allow, comment: "Required only for Flannel VXLAN" }
      - { to_port: 10250, proto: tcp, rule: allow, comment: "Kubelet metrics" }
      - { to_port: "2379:2380", proto: tcp, rule: allow, comment: "Required only for HA with embedded etcd" }
  when: not (skip_firewall_setup or manifest_only_setup)

- name: Set k3s pre-config
  ansible.builtin.set_fact:
    advertised_ip: "{{ ansible_default_ipv4.address }}"

- name: Set k3s config
  ansible.builtin.set_fact:
    k3s_agent:
      prefer-bundled-bin: true
      with-node-id: true
      node-ip: "{{ advertised_ip }}"
      node-label: "{{ labels }}"
    k3s_server:
      prefer-bundled-bin: true
      embedded-registry: true
      disable: traefik
      with-node-id: true
      node-ip: "{{ advertised_ip }}"
      node-label: "{{ labels }}"
      default-local-storage-path: "{{ chartValuesOverrides.storageLocation | default('/storage') }}"
      etcd-expose-metrics: true
      kubelet-arg:
        - node-status-update-frequency=4s
      kube-controller-manager-arg:
        - node-monitor-period=4s
        - node-monitor-grace-period=16s
      kube-apiserver-arg:
        - default-not-ready-toleration-seconds=20
        - default-unreachable-toleration-seconds=20

- name: Install and deploy k3s
  ansible.builtin.import_role:
    name: xanmanning.k3s
  vars:
    k3s_release_version: v1.34
    k3s_become: true
    k3s_etcd_datastore: true
    k3s_use_unsupported_config: true
    k3s_use_experimental: true
  become: true

- name: Install kubernetes CLI utilities
  when:
    - k3s_control_node is defined
    - k3s_control_node
  block:
    - name: Add homebrew taps
      community.general.homebrew_tap:
        name:
          - robusta-dev/homebrew-krr

    - name: Install homebrew packages
      community.general.homebrew:
        name:
          - k9s
          - krr
          - trivy
          - velero
        state: latest

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
