# code: language=ansible
---

- name: Setup DNS resolution
  become: true
  when: ansible_distribution == 'Ubuntu' and ansible_module_container_type == ""
  block:
    - name: Create systemd-resolved drop-in config folder
      ansible.builtin.file:
        path: /etc/systemd/resolved.conf.d
        state: directory
        mode: 0755

    - name: Write DNS resolution config
      notify: Restart systemd-resolved
      ansible.builtin.blockinfile:
        dest: /etc/systemd/resolved.conf.d/00_cloudflare.conf
        create: true
        mode: 0644
        content: |
          [Resolve]
          DNS=1.1.1.1 1.0.0.1
          DNSStubListener=no

    # TODO: make stub server work
    # ansible_module_container_type is a workaround for docker due to https://stackoverflow.com/q/60549775
    - name: Bypass systemd-resolved stub server
      ansible.builtin.file:
        src: /run/systemd/resolve/resolv.conf
        dest: /etc/resolv.conf
        force: true
        state: link
