# code: language=ansible
---

- name: Allocate huge pages
  when: ansible_distribution == 'Ubuntu' and not is_raspberry_pi
  become: true
  ansible.posix.sysctl:
    name: vm.nr_hugepages
    value: "5120"  # 10Gi of huges pages
    sysctl_file: /etc/sysctl.conf
    state: present
    reload: true

- name: Increase inotify max user instances
  when: ansible_distribution == 'Ubuntu'
  become: true
  ansible.posix.sysctl:
    name: fs.inotify.max_user_instances
    value: "8192"
    sysctl_file: /etc/sysctl.conf
    state: present
    reload: true

- name: Increase inotify max user watches
  when: ansible_distribution == 'Ubuntu'
  become: true
  ansible.posix.sysctl:
    name: fs.inotify.max_user_watches
    value: "524288"
    sysctl_file: /etc/sysctl.conf
    state: present
    reload: true
