# code: language=ansible
---

- name: Allocate huge pages
  when: ansible_distribution == 'Ubuntu' and not is_raspberry_pi
  become: true
  ansible.posix.sysctl:
    name: vm.nr_hugepages
    value: "5120"  # 10Gi of huges pages
    sysctl_file: /etc/sysctl.conf
    state: present
    reload: true
