# code: language=ansible
---

- name: Install Ubuntu packages
  become: true
  when: ansible_distribution == 'Ubuntu'
  block:
    - name: Install common packages
      ansible.builtin.apt:
        pkg:
          - curl
          - rasdaemon
          - rsync
          - smartmontools
          - ufw
          - zfsutils-linux
        update_cache: true

- name: Install OpenWrt packages
  become: true
  when: is_openwrt
  block:
    - name: Install common packages
      community.general.opkg:
        name:
          - ethtool
          - haproxy
          - luci-app-sqm
          - tailscale
