# code: language=ansible
---

- name: restart haproxy
  ansible.builtin.service:
    name: haproxy
    state: restarted

- name: reload network
  ansible.builtin.service:
    name: network
    state: reloaded

- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted