# Default values for self-hosted-services.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Namespace where application charts reside
applicationsNamespace: default

# The current deployment is for the primary tenant.
# A value of false would not deploy to `kube-system` namespace.
primaryTenant: true

# Path where files are stored
storageLocation: /storage

# Base domain name to be used for all services
fqdn: example.org

# Enable proxy protocol and trusted headers when behind a TCP proxy (e.g., HAProxy)
behindTcpProxy: true
tcpProxyIp: 192.168.1.1

# The git repository out of which to continuously deploy
gitRepo: https://github.com/arch-anes/self-hosted-services.git

# Private IP ranges
localIpRanges:
  - 10.0.0.0/8
  - 172.16.0.0/12
  - 192.168.0.0/16

tailscaleIpRanges:
  - 100.64.0.0/10
  - fd7a:115c:a1e0::/48

# Cloudflare IP ranges
cloudFlareIpRanges:
  # https://www.cloudflare.com/ips-v4
  - 173.245.48.0/20
  - 103.21.244.0/22
  - 103.22.200.0/22
  - 103.31.4.0/22
  - 141.101.64.0/18
  - 108.162.192.0/18
  - 190.93.240.0/20
  - 188.114.96.0/20
  - 197.234.240.0/22
  - 198.41.128.0/17
  - 162.158.0.0/15
  - 104.16.0.0/13
  - 104.24.0.0/14
  - 172.64.0.0/13
  - 131.0.72.0/22
  # https://www.cloudflare.com/ips-v6
  - 2400:cb00::/32
  - 2606:4700::/32
  - 2803:f800::/32
  - 2405:b500::/32
  - 2405:8100::/32
  - 2a06:98c0::/29
  - 2c0f:f248::/32

disableAllApplications: false

# Global high availability configuration
# Set to false to use 1 replica instead of 3 for services that support HA
highAvailability: true

applications:
  akri:
    enabled: true
    udevRules: []
      # - 'KERNEL=="ttyUSB[0-9]*", ENV{ID_VENDOR}=="ABCDEFGH"'
  alloy:
    enabled: true
  amd_gpu:
    enabled: true
  archivebox:
    enabled: true
  argo:
    enabled: true
    syncWindows:
      - kind: deny
        schedule: "0 12 * * *"
        duration: "12h"
        timezone: "America/New_York"
        manualSync: true
  authentik:
    enabled: true
  bazarr:
    enabled: true
  crowdsec:
    enabled: true
  ddclient:
    enabled: true
  descheduler:
    enabled: true
  epicgames_freegames:
    enabled: true
  filebrowser:
    enabled: true
  flaresolverr:
    enabled: true
  gluetun:
    enabled: true
  gotify:
    enabled: true
  home_assistant:
    enabled: true
  homer_operator:
    enabled: true
  idrac_exporter:
    enabled: true
  immich:
    enabled: true
    # gpu_vendor: nvidia
    # machine_learning:
    #   gpu_vendor: nvidia
  intel_gpu:
    enabled: true
  inventree:
    enabled: true
  ipmi_exporter:
    enabled: true
  jellyfin:
    enabled: true
    # gpu_vendor: intel
  jellyseerr:
    enabled: true
  joal:
    enabled: true
  kubernetes_dashboard:
    enabled: true
  lazylibrarian:
    enabled: true
  loki:
    enabled: true
  minecraft_bedrock:
    enabled: true
  miniflux:
    enabled: true
  minio:
    enabled: true
  mosquitto:
    enabled: true
  n8n:
    enabled: true
  netbox:
    enabled: true
  nextcloud:
    enabled: true
  node_problem_detector:
    enabled: true
  nvidia_gpu:
    enabled: true
  obico:
    enabled: true
  octoprint:
    enabled: true
    devices: []
      # - "akri.sh/akri-udev-abcdefgh"
  odoo:
    enabled: true
  pgadmin4:
    enabled: true
  postgresql:
    enabled: true
    additionalUsers:
      - name: exampleUser1
    remoteBackupLocation:
      s3:
        bucket: "some-bucket"
        endpoint: "some-endpoint"
        region: "some-region"
  prometheus:
    enabled: true
  prowlarr:
    enabled: true
  radarr:
    enabled: true
  red:
    enabled: true
  redis:
    enabled: true
  redis_insight:
    enabled: true
  sonarr:
    enabled: true
  speedtest_tracker:
    enabled: true
    dashboard:
      enabled: true
  stalwart:
    enabled: true
  tdarr:
    enabled: true
    # gpu_vendor: amd
  tempo:
    enabled: true
  transmission:
    enabled: true
  velero:
    enabled: true
    remoteBackupLocations:
      - name: default
        default: true
        provider: aws
        bucket: <some_bucket>
        config:
          checksumAlgorithm: "" # Sometimes needed, see https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/main/README.md
          s3ForcePathStyle: true # if using an S3-compatible service
          region: <some_region>
          s3Url: https://<some_endpoint> # if using an S3-compatible service
  wakapi:
    enabled: true
  ygege:
    enabled: true
