[Unit]
Description=Peer-to-peer VPN
Documentation=man:vpncloud(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
Restart=always
RestartSec=5s
ExecStart=/usr/bin/vpncloud --daemon --fix-rp-filter -p {{vpn_password}} --algorithm plain --ip {{private_ip}} -l {{listen_vpn_port}} --log-file /var/log/vpncloud.log {{peers}}

[Install]
WantedBy=multi-user.target
