{{- if and .Values.primaryTenant (not .Values.disableAllApplications) .Values.applications.akri.enabled }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: akri
  namespace: kube-system
spec:
  chart: akri
  repo: https://project-akri.github.io/akri/
  version: 0.13.8
  targetNamespace: kube-system
  valuesContent: |-
    useLatestContainers: true
    useDevelopmentContainers: false
    udev:
      discovery:
        enabled: true
      configuration:
        enabled: true
        capacity: 5
        discoveryDetails:
          udevRules:
            {{- range .Values.applications.akri.udevRules }}
            - {{ . | quote }}
            {{- end }}
    prometheus:
      enabled: {{ include "metrics.enabled" . }}
{{- end }}
