{{- if and .Values.primaryTenant (not .Values.disableAllApplications) .Values.applications.argo.enabled }}
{{- if not .Values.applications.redis.enabled }}
{{- fail "Argo requires Redis to be enabled. Please enable Redis in your values.yaml" }}
{{- end }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argo-cd
  namespace: kube-system
spec:
  chart: argo-cd
  repo: https://argoproj.github.io/argo-helm
  version: 9.3.7
  targetNamespace: kube-system
  takeOwnership: true
  valuesContent: |-
    global:
      domain: argo.{{ .Values.fqdn }}
    configs:
      params:
        server.insecure: true
    server:
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 500m
          memory: 128Mi
      ingress:
        enabled: true
        annotations:
          homer.service.name: Automation
          homer.service.icon: "fas fa-home"
          homer.service.rank: "4"
          homer.item.name: argo
          homer.item.logo: "https://raw.githubusercontent.com/argoproj/argo-cd/4471603de2a8f3e7e0bdfbd9d487468b6b20a354/docs/assets/argo.png"
          traefik.ingress.kubernetes.io/router.middlewares: kube-system-intranet-allowlist@kubernetescrd
        extraTls:
          - hosts:
              - argo.{{ .Values.fqdn }}
            secretName: "{{ .Values.fqdn }}-tls"
      metrics:
        enabled: {{ include "metrics.enabled" . }}
        serviceMonitor:
          enabled: {{ include "metrics.enabled" . }}
    redis:
      enabled: false
    dex:
      enabled: false
    notifications:
      enabled: false
    externalRedis:
      host: "redis-master.{{ .Values.applicationsNamespace }}.svc.cluster.local"
      port: 6379
      existingSecret: "redis"
    controller:
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 500m
          memory: 128Mi
      metrics:
        enabled: {{ include "metrics.enabled" . }}
        serviceMonitor:
          enabled: {{ include "metrics.enabled" . }}
    repoServer:
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 500m
          memory: 128Mi
      metrics:
        enabled: {{ include "metrics.enabled" . }}
        serviceMonitor:
          enabled: {{ include "metrics.enabled" . }}
    applicationSet:
      resources:
        limits:
          memory: 512Mi
        requests:
          cpu: 250m
          memory: 64Mi
      metrics:
        enabled: {{ include "metrics.enabled" . }}
        serviceMonitor:
          enabled: {{ include "metrics.enabled" . }}

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argo-cd-applicationset
  namespace: kube-system
spec:
  chart: generic
  repo: https://arch-anes.github.io/charts
  version: 0.2.1
  targetNamespace: kube-system
  valuesContent: |-
    objects:
      - apiVersion: argoproj.io/v1alpha1
        kind: ApplicationSet
        metadata:
          name: self-hosted-services
          namespace: kube-system
        spec:
          goTemplate: true
          goTemplateOptions: ["missingkey=error"]
          generators:
            - list:
                elements:
                  - environment: prod
          syncPolicy:
            preserveResourcesOnDeletion: true
          template:
            metadata:
              name: self-hosted-services-cd
              namespace: kube-system
            spec:
              syncPolicy:
                automated:
                  selfHeal: true
              project: default
              source:
                repoURL: {{ .Values.gitRepo }}
                targetRevision: HEAD
                path: charts/services
                helm:
                  valuesObject:
                    {{- .Values | toYaml | nindent 20}}
              destination:
                server: https://kubernetes.{{ .Values.applicationsNamespace }}.svc
{{- end }}
