{{- if and (not .Values.disableAllApplications) .Values.applications.ddclient.enabled }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: "ddclient-{{ .Values.fqdn | replace "." "-" }}"
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  chart: oci://oci.trueforge.org/truecharts/ddclient
  version: 13.9.0
  targetNamespace: "{{ .Values.applicationsNamespace }}"
  valuesContent: |-
    configmap:
      config:
        enabled: true
        namespace: "{{ .Values.applicationsNamespace }}"
        data:
          ddclient.conf: |
            daemon=300 # check every 300 seconds
            syslog=yes
            pid=/var/run/ddclient/ddclient.pid
            ssl=yes

            use=web, web=checkip.amazonaws.com

            wildcard=yes

            protocol=cloudflare, zone={{ .Values.fqdn }}, ttl=1, password_env=API_KEY {{ .Values.fqdn }}
    workload:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        podSpec:
          containers:
            main:
              env:
                API_KEY:
                  secretKeyRef:
                    name: {{ .Values.fqdn }}-cloudflare
                    key: token
                    expandObjectName: false
    resources:
      requests:
        memory: 128Mi
        cpu: 125m
      limits:
        memory: 256Mi
        cpu: null
    podOptions:
      nodeSelector:
        # Schedule only on public nodes
        public: "true"
    persistence:
      config:
        enabled: true
        type: configmap
        mountPath: /defaults
        objectName: config
{{- end }}
