{{- if .Values.primaryTenant }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: external-secrets
  namespace: kube-system
spec:
  chart: external-secrets
  repo: https://charts.external-secrets.io
  version: 1.3.1
  targetNamespace: kube-system
  valuesContent: |-
    enableHTTP2: true
    serviceMonitor:
      enabled: {{ include "metrics.enabled" . }}
    grafanaDashboard:
      enabled: {{ include "metrics.enabled" . }}
    livenessProbe:
      enabled: true
    resources:
      requests:
        memory: 128Mi
        cpu: 250m
      limits:
        memory: 256Mi
    webhook:
      resources:
        requests:
          memory: 128Mi
          cpu: 250m
        limits:
          memory: 256Mi
    certController:
      resources:
        requests:
          memory: 128Mi
          cpu: 250m
        limits:
          memory: 256Mi
    extraObjects:
      - apiVersion: generators.external-secrets.io/v1alpha1
        kind: ClusterGenerator
        metadata:
          name: alphanumerical-password-generator
          annotations:
            "helm.sh/hook": post-install,post-upgrade
            "helm.sh/hook-weight": "1"
        spec:
          kind: Password
          generator:
            passwordSpec:
              length: 42
              symbols: 0
              noUpper: false
              allowRepeat: true
      - apiVersion: generators.external-secrets.io/v1alpha1
        kind: ClusterGenerator
        metadata:
          name: huge-alphanumerical-password-generator
          annotations:
            "helm.sh/hook": post-install,post-upgrade
            "helm.sh/hook-weight": "1"
        spec:
          kind: Password
          generator:
            passwordSpec:
              length: 128
              symbols: 0
              noUpper: false
              allowRepeat: true
      - apiVersion: generators.external-secrets.io/v1alpha1
        kind: ClusterGenerator
        metadata:
          name: ascii-password-generator
          annotations:
            "helm.sh/hook": post-install,post-upgrade
            "helm.sh/hook-weight": "1"
        spec:
          kind: Password
          generator:
            passwordSpec:
              length: 42
              noUpper: false
              allowRepeat: true
      - apiVersion: generators.external-secrets.io/v1alpha1
        kind: ClusterGenerator
        metadata:
          name: huge-ascii-password-generator
          annotations:
            "helm.sh/hook": post-install,post-upgrade
            "helm.sh/hook-weight": "1"
        spec:
          kind: Password
          generator:
            passwordSpec:
              length: 128
              noUpper: false
              allowRepeat: true
{{- end }}
