{{- if and (not .Values.disableAllApplications) .Values.applications.flaresolverr.enabled }}
{{- if not .Values.applications.gluetun.enabled }}
{{- fail "Flaresolverr requires gluetun to be enabled. Please enable gluetun in your values.yaml" }}
{{- end }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: flaresolverr
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  chart: oci://oci.trueforge.org/truecharts/flaresolverr
  version: 16.14.2
  targetNamespace: "{{ .Values.applicationsNamespace }}"
  valuesContent: |-
    {{- include "tunnel.truecharts.image" . | nindent 4 }}
    image:
      repository: 21hsmw/flaresolverr
      pullPolicy: Always
      tag: nodriver
    workload:
      main:
        podSpec:
          containers:
            {{- include "tunnel.truecharts.container" . | nindent 12 }}
            main:
              probes:
                readiness:
                  enabled: true
                  type: http
                  path: /
                liveness:
                  enabled: true
                  type: http
                  path: /
                startup:
                  enabled: true
                  type: http
                  path: /
              env: {}
    resources:
      requests:
        memory: 512Mi
        cpu: 250m
      limits:
        memory: 2Gi
    persistence:
      config:
        enabled: false
{{- end }}
