{{- if and (not .Values.disableAllApplications) .Values.applications.gluetun.enabled }}
# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: gluetun
#   namespace: "{{ .Values.applicationsNamespace }}"
# type: Opaque
# stringData:
#   vpn_service_provider: "someprovider" # https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers
#   wireguard_private_key: "somekey"
#   server_countries: "somecountry1,somecountry2"

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: gluetun
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  chart: generic
  repo: https://arch-anes.github.io/charts
  version: 0.2.1
  targetNamespace: "{{ .Values.applicationsNamespace }}"
  valuesContent: |-
    objects:
      - kind: Service
        apiVersion: v1
        metadata:
          name: gluetun
          namespace: "{{ .Values.applicationsNamespace }}"
        spec:
          ports:
            - protocol: TCP
              name: socks5-tcp
              port: 1080
          selector:
            app: gluetun
      - kind: Deployment
        apiVersion: apps/v1
        metadata:
          name: gluetun
          namespace: "{{ .Values.applicationsNamespace }}"
          labels:
            app: gluetun
          annotations:
            reloader.stakater.com/auto: "true"
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: gluetun
          template:
            metadata:
              labels:
                app: gluetun
            spec:
              containers:
                - name: vpn
                  image: qmcgaw/gluetun:v3.40.3
                  securityContext:
                    privileged: true
                    capabilities:
                      add:
                        - NET_ADMIN
                  resources:
                    requests:
                      memory: 512Mi
                      cpu: 1250m
                    limits:
                      memory: 1Gi
                  env:
                    - name: UPDATER_PERIOD
                      value: "24h"
                    - name: VPN_TYPE
                      value: "wireguard"
                    - name: VPN_SERVICE_PROVIDER
                      valueFrom:
                        secretKeyRef:
                          name: gluetun
                          key: vpn_service_provider
                    - name: WIREGUARD_PRIVATE_KEY
                      valueFrom:
                        secretKeyRef:
                          name: gluetun
                          key: wireguard_private_key
                    - name: SERVER_COUNTRIES
                      valueFrom:
                        secretKeyRef:
                          name: gluetun
                          key: server_countries
                - name: socks5
                  image: httptoolkit/docker-socks-tunnel:v1.2.1
                  args:
                    - -q
                  ports:
                    - name: socks5
                      containerPort: 1080
                  resources:
                    requests:
                      memory: 128Mi
                      cpu: 1000m
                    limits:
                      memory: 256Mi
{{- end }}
