{{- if and (not .Values.disableAllApplications) .Values.applications.minecraft_bedrock.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: minecraft-bedrock
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  type: NodePort
  ports:
    - protocol: UDP
      name: web
      port: 19132
      nodePort: 30778
  selector:
    app: minecraft-bedrock

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecraft-bedrock
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  storageClassName: local-path-persistent
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-bedrock
  namespace: "{{ .Values.applicationsNamespace }}"
  labels:
    app: minecraft-bedrock
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft-bedrock
  template:
    metadata:
      annotations:
        backup.velero.io/backup-volumes: data
      labels:
        app: minecraft-bedrock
    spec:
      containers:
        - name: app
          image: itzg/minecraft-bedrock-server:2025.11.0
          stdin: true
          tty: true
          resources:
            requests:
              memory: 1Gi
              cpu: 2000m
            limits:
              memory: 4Gi
          env:
            - name: EULA
              value: "TRUE"
          ports:
            - name: web
              containerPort: 19132
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: minecraft-bedrock
{{- end }}
