{{- if and (not .Values.disableAllApplications) .Values.applications.miniflux.enabled }}
{{- if not .Values.applications.postgresql.enabled }}
{{- fail "Miniflux requires PostgreSQL to be enabled. Please enable PostgreSQL in your values.yaml" }}
{{- end }}
# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: miniflux
#   namespace: "{{ .Values.applicationsNamespace }}"
# type: Opaque
# stringData:
#   admin_username: "someuser"
#   admin_password: "somepass"

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: miniflux
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  chart: oci://oci.trueforge.org/truecharts/miniflux
  version: 17.13.4
  targetNamespace: "{{ .Values.applicationsNamespace }}"
  valuesContent: |-
    workload:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        podSpec:
          containers:
            main:
              env:
                CREATE_ADMIN: 1
                ADMIN_USERNAME:
                  secretKeyRef:
                    name: miniflux
                    key: admin_username
                    expandObjectName: false
                ADMIN_PASSWORD:
                  secretKeyRef:
                    name: miniflux
                    key: admin_password
                    expandObjectName: false
                DATABASE_PASSWORD:
                  secretKeyRef:
                    name: postgresql-pguser-miniflux
                    key: password
                    expandObjectName: false
                DATABASE_URL: postgres://miniflux:$(DATABASE_PASSWORD)@postgresql-primary/miniflux?sslmode=disable
                RUN_MIGRATIONS: 1
    resources:
      requests:
        memory: 128Mi
        cpu: 500m
      limits:
        memory: 256Mi
        cpu: null
    global:
      traefik:
        fixedMiddlewares: []
    ingress:
      main:
        enabled: true
        annotations:
          homer.service.name: Feed
          homer.service.icon: "fas fa-rss"
          homer.service.rank: "2"
          homer.item.logo: "https://raw.githubusercontent.com/miniflux/v2/06c37a132f6a90a30db12ad3f263cc6a97678d4a/ui/static/bin/maskable-icon-192.png"
        hosts:
          - host: miniflux.{{ .Values.fqdn }}
            paths:
              - path: /
        tls:
          - secretName: "{{ .Values.fqdn }}-tls"
            hosts:
              - miniflux.{{ .Values.fqdn }}
    persistence:
      config:
        enabled: false
    cnpg:
      main:
        enabled: false
{{- end }}
