{{- if and (not .Values.disableAllApplications) .Values.applications.n8n.enabled }}
{{- if not .Values.applications.postgresql.enabled }}
{{- fail "n8n requires PostgreSQL to be enabled. Please enable PostgreSQL in your values.yaml" }}
{{- end }}
{{- if not .Values.applications.redis.enabled }}
{{- fail "n8n requires Redis to be enabled. Please enable Redis in your values.yaml" }}
{{- end }}
# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: nodemation
#   namespace: "{{ .Values.applicationsNamespace }}"
# type: Opaque
# stringData:
#   encryption_key: "somekey"

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: n8n
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  chart: oci://oci.trueforge.org/truecharts/n8n
  version: 17.45.2
  targetNamespace: "{{ .Values.applicationsNamespace }}"
  valuesContent: |-
    deployment:
      N8N_DIAGNOSTICS_ENABLED: false
      N8N_VERSION_NOTIFICATIONS_ENABLED: false
      N8N_TEMPLATES_ENABLED: false
    workload:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        podSpec:
          containers:
            main:
              env:
                N8N_RUNNERS_ENABLED: true
                N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
                N8N_ENCRYPTION_KEY:
                  secretKeyRef:
                    name: nodemation
                    key: encryption_key
                    expandObjectName: false
                WEBHOOK_URL: "https://n8n.{{ .Values.fqdn }}/"
                DB_TYPE: postgresdb
                DB_POSTGRESDB_HOST: postgresql-primary
                DB_POSTGRESDB_PORT: 5432
                DB_POSTGRESDB_DATABASE: n8n
                DB_POSTGRESDB_USER: n8n
                DB_POSTGRESDB_PASSWORD:
                  secretKeyRef:
                    name: postgresql-pguser-n8n
                    key: password
                    expandObjectName: false
                CACHE_DRIVER: redis
                QUEUE_BULL_REDIS_HOST: redis-master
                QUEUE_BULL_REDIS_PORT: 6379
                QUEUE_BULL_REDIS_PASSWORD:
                  secretKeyRef:
                    name: redis
                    key: redis-password
                    expandObjectName: false
    resources:
      requests:
        memory: 512Mi
        cpu: 500m
      limits:
        memory: 1Gi
        cpu: null
    global:
      traefik:
        fixedMiddlewares: []
    ingress:
      main:
        enabled: true
        annotations:
          homer.service.name: Automation
          homer.item.logo: "https://d33wubrfki0l68.cloudfront.net/b8db213a4d85ebec7b82272cacb727a05a9a1475/96e9f/_images/n8n-docs-icon.svg"
        hosts:
          - host: n8n.{{ .Values.fqdn }}
            paths:
              - path: /
        tls:
          - secretName: "{{ .Values.fqdn }}-tls"
            hosts:
              - n8n.{{ .Values.fqdn }}
    persistence:
      data:
        enabled: false
    redis:
      enabled: false
    cnpg:
      main:
        enabled: false
{{- end }}
