{{- if and (not .Values.disableAllApplications) .Values.applications.red.enabled }}
# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: red
#   namespace: "{{ .Values.applicationsNamespace }}"
# type: Opaque
# stringData:
#   token: "sometoken"

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: red
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  chart: oci://oci.trueforge.org/truecharts/red-discordbot
  version: 8.13.20
  targetNamespace: "{{ .Values.applicationsNamespace }}"
  valuesContent: |-
    workload:
      main:
        podSpec:
          annotations:
            backup.velero.io/backup-volumes: data
          containers:
            main:
              env:
                PREFIX: "-"
                TOKEN:
                  secretKeyRef:
                    name: red
                    key: token
                    expandObjectName: false
    resources:
      requests:
        memory: 512Mi
        cpu: 1000m
      limits:
        memory: 1Gi
    persistence:
      data:
        enabled: true
        type: pvc
        storageClass: local-path-persistent-namespaced
        size: 1Gi
        mountPath: /data
{{- end }}
