{{- if and (not .Values.disableAllApplications) .Values.applications.redis.enabled }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: redis
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  chart: oci://registry-1.docker.io/bitnamicharts/redis
  version: 24.1.2
  targetNamespace: "{{ .Values.applicationsNamespace }}"
  valuesContent: |-
    global:
      defaultFips: relaxed
    auth:
      existingSecret: redis
      existingSecretKey: redis-password
    architecture: replication
    rbac:
      create: true
    replica:
      replicaCount: {{ include "ha.replicas" . }}
      persistence:
        enabled: true
      automountServiceAccountToken: true
      resources:
        requests:
          memory: 128Mi
          cpu: 500m
        limits:
          memory: 256Mi
      nodeSelector:
        # Schedule onto amd64 to specifically avoid raspberry pi to not wear the SD card
        kubernetes.io/arch: amd64
    sentinel:
      enabled: {{ include "ha.enabled" . }}
      masterService:
        enabled: true
      annotations:
        reloader.stakater.com/auto: "true"
      resources:
        requests:
          memory: 128Mi
          cpu: 125m
        limits:
          memory: 256Mi
    kubectl:
      fips:
        golang: relaxed
      resources:
        requests:
          memory: 128Mi
          cpu: 125m
        limits:
          memory: 256Mi
    metrics:
      enabled: {{ include "metrics.enabled" . }}
      fips:
        golang: relaxed
      resources:
        requests:
          memory: 128Mi
          cpu: 125m
        limits:
          memory: 256Mi
      serviceMonitor:
        enabled: {{ include "metrics.enabled" . }}
        # Sentinel metrics
        additionalEndpoints:
          - interval: "30s"
            path: "/scrape"
            port: "http-metrics"
            params:
              target: ["localhost:26379"]
            metricRelabelings:
              - targetLabel: "app"
                replacement: "sentinel"
      prometheusRule:
        enabled: {{ include "metrics.enabled" . }}
    extraDeploy:
      - apiVersion: external-secrets.io/v1
        kind: ExternalSecret
        metadata:
          name: redis
          namespace: "{{ .Values.applicationsNamespace }}"
        spec:
          refreshPolicy: CreatedOnce
          creationPolicy: Owner
          deletionPolicy: Retain
          target:
            name: redis
{{- if .Values.primaryTenant }}
            template:
              metadata:
                annotations:
                  reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
                  reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
                  reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "kube-system"
{{- end }}
          dataFrom:
            - sourceRef:
                generatorRef:
                  apiVersion: generators.external-secrets.io/v1alpha1
                  kind: ClusterGenerator
                  name: alphanumerical-password-generator
              rewrite:
                - transform:
                    template: redis-password
{{- end }}
