{{- if .Values.primaryTenant }}
# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   name: cluster-admin-credentials
#   namespace: kube-system
# type: Opaque
# stringData:
#   credentials: "admin:$2y$12$8KtQ4SQb6QpebcgYvMPjwOv3Jz9ojkNq8FVWZmk5q1BW9BoEX2aAy" # admin:admin by default, bcrypted password: https://bcrypt-generator.com/

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  chart: traefik
  repo: https://traefik.github.io/charts
  version: 39.0.1
  targetNamespace: kube-system
  valuesContent: |-
    extraObjects:
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: cluster-admin-authentication
          namespace: kube-system
        spec:
          basicAuth:
            secret: "cluster-admin-credentials"
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: traefik-compression
          namespace: kube-system
        spec:
          compress: {}
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: traefik-websecure
          namespace: kube-system
        spec:
          headers:
            browserXssFilter: true
            stsPreload: true
            stsIncludeSubdomains: true
            forceSTSHeader: true
            stsSeconds: 15552000
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: traefik-redirect-www
          namespace: kube-system
        spec:
          redirectRegex:
            regex: ^https?://www\.(.*)
            replacement: https://$1
            permanent: true
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: intranet-allowlist
          namespace: kube-system
        spec:
          ipAllowList:
            sourceRange:
              {{- include "ip.private_ranges" . | nindent 14 }}
{{- if and (not .Values.disableAllApplications) .Values.applications.crowdsec.enabled }}
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: crowdsec
          namespace: kube-system
        spec:
          plugin:
            crowdsec-bouncer-traefik-plugin:
              enabled: true
              crowdsecAppsecFailureBlock: false
              crowdsecAppsecUnreachableBlock: false
              crowdsecMode: stream
              crowdsecLapiScheme: http
              crowdsecLapiHost: crowdsec-service:8080
              crowdsecLapiKeyFile: /etc/traefik/secrets/crowdsec/bouncer_key
              redisCacheEnabled: false
              forwardedHeadersTrustedIPs:
                {{- include "ip.proxy_ranges" . | nindent 16 }}
              clientTrustedIPs:
                {{- include "ip.private_ranges" . | nindent 16 }}
    experimental:
      plugins:
        crowdsec-bouncer-traefik-plugin:
          moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
          version: "v1.4.5"
    volumes:
      - name: crowdsec
        mountPath: /etc/traefik/secrets/crowdsec/
        type: secret
    deployment:
      annotations:
        reloader.stakater.com/auto: "true"
{{- end }}
    logs:
      access:
        enabled: true
        addInternals: true
        fields:
          headers:
            defaultmode: keep
    metrics:
      addInternals: {{ include "metrics.enabled" . }}
      prometheus:
        service:
          enabled: {{ include "metrics.enabled" . }}
        serviceMonitor:
          enabled: {{ include "metrics.enabled" . }}
{{- if and (not .Values.disableAllApplications) .Values.applications.tempo.enabled }}
    tracing:
      capturedRequestHeaders:
        - "X-Real-Ip"
        - "X-Forwarded-For"
        - "True-Client-IP"
        - "CF-Connecting-IP"
      otlp:
        enabled: true
        http:
          enabled: true
          endpoint: http://tempo:4318/v1/traces
{{- end }}
    nodeSelector:
      public: "true"
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: topology.kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: traefik
                  app.kubernetes.io/instance: traefik-kube-system
    ingressRoute:
      healthcheck:
        enabled: true
        annotations:
          homer.item.excluded: "true"
      dashboard:
        enabled: true
        annotations:
          homer.service.name: Monitoring
          homer.service.icon: "fas fa-heartbeat"
          homer.service.rank: "6"
          homer.item.name: "Traefik Dashboard"
          homer.item.logo: "https://raw.githubusercontent.com/traefik/traefik/aa8eb1af6eb5457516169315676ec22f968e727d/webui/public/app-logo-128x128.png"
        matchRule: Host(`traefik.{{ .Values.fqdn }}`)
        middlewares:
          - name: kube-system-traefik-compression@kubernetescrd
          - name: kube-system-intranet-allowlist@kubernetescrd
          - name: kube-system-cluster-admin-authentication@kubernetescrd
        entryPoints:
          - web
          - websecure
        tls:
          secretName: "{{ .Values.fqdn }}-tls"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    service:
      spec:
        externalTrafficPolicy: {{ if .Values.behindTcpProxy }}Local{{ else }}Cluster{{ end }}
    ports:
      traefik:
        expose:
          default: true
      web:
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
{{- if .Values.behindTcpProxy }}
        proxyProtocol:
          trustedIPs:
            {{- include "ip.proxy_ranges" . | nindent 12 }}
        forwardedHeaders:
          trustedIPs:
            {{- include "ip.proxy_ranges" . | nindent 12 }}
{{- end }}
      websecure:
{{- if .Values.behindTcpProxy }}
        proxyProtocol:
          trustedIPs:
            {{- include "ip.proxy_ranges" . | nindent 12 }}
        forwardedHeaders:
          trustedIPs:
            {{- include "ip.proxy_ranges" . | nindent 12 }}
{{- end }}
        transport:
          respondingTimeouts:
            readTimeout: 0
        http:
          middlewares:
            - kube-system-traefik-compression@kubernetescrd
            - kube-system-traefik-redirect-www@kubernetescrd
            - kube-system-traefik-websecure@kubernetescrd
{{- if and (not .Values.disableAllApplications) .Values.applications.crowdsec.enabled }}
            - kube-system-crowdsec@kubernetescrd
{{- end }}
          tls:
            enabled: true
        http3:
          enabled: true
{{- range $name, $port := dict "imap" 993 "smtp" 465 "mx" 2465 "mqtt" 1883 "mqtts" 8883 }}
      {{ $name }}:
{{- if $.Values.behindTcpProxy }}
        proxyProtocol:
          trustedIPs:
            {{- include "ip.proxy_ranges" $ | nindent 12 }}
{{- end }}
        port: {{ $port }}
        expose:
          default: true
        exposedPort: {{ $port }}
        protocol: TCP
{{- end }}
    resources:
      requests:
        memory: 512Mi
        cpu: 1000m
      limits:
        memory: 512Mi
    autoscaling:
      enabled: {{ include "ha.enabled" . }}
      minReplicas: 3
      maxReplicas: 10
      metrics:
        - type: Resource
          resource:
            name: memory
            target:
              type: Utilization
              averageUtilization: 60
{{- end }}
