{{- if and (not .Values.disableAllApplications) .Values.applications.wakapi.enabled }}
{{- if not .Values.applications.postgresql.enabled }}
{{- fail "Wakapi requires PostgreSQL to be enabled. Please enable PostgreSQL in your values.yaml" }}
{{- end }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: wakapi
  namespace: "{{ .Values.applicationsNamespace }}"
spec:
  chart: wakapi
  repo: https://arch-anes.github.io/charts
  version: 0.1.0
  targetNamespace: "{{ .Values.applicationsNamespace }}"
  valuesContent: |-
    workload:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        podSpec:
          containers:
            main:
              env:
                WAKAPI_LEADERBOARD_REQUIRE_AUTH: "true"
                WAKAPI_SUPPORT_CONTACT: "info@{{ .Values.fqdn }}"
                WAKAPI_PUBLIC_URL: "https://wakapi.{{ .Values.fqdn }}"
                WAKAPI_PASSWORD_SALT:
                  secretKeyRef:
                    name: wakapi
                    key: password_salt
                    expandObjectName: false
                WAKAPI_INSECURE_COOKIES: "false"
                WAKAPI_INVITE_CODES: "false"
{{- if .Values.applications.authentik.enabled }}
                WAKAPI_ALLOW_SIGNUP: "false"
                WAKAPI_OIDC_ALLOW_SIGNUP: "true"
                WAKAPI_OIDC_PROVIDERS_0_NAME: authentik
                WAKAPI_OIDC_PROVIDERS_0_CLIENT_ID:
                  secretKeyRef:
                    name: wakapi
                    key: client_id
                    expandObjectName: false
                WAKAPI_OIDC_PROVIDERS_0_CLIENT_SECRET:
                  secretKeyRef:
                    name: wakapi
                    key: client_secret
                    expandObjectName: false
                WAKAPI_OIDC_PROVIDERS_0_ENDPOINT: "https://auth.{{ .Values.fqdn }}/application/o/wakapi/"
{{- end }}
                WAKAPI_DB_TYPE: postgres
                WAKAPI_DB_HOST: postgresql-primary
                WAKAPI_DB_PORT: "5432"
                WAKAPI_DB_USER: wakapi
                WAKAPI_DB_NAME: wakapi
                WAKAPI_DB_PASSWORD:
                  secretKeyRef:
                    name: postgresql-pguser-wakapi
                    key: password
                    expandObjectName: false
                WAKAPI_MAIL_ENABLED: "true"
                WAKAPI_MAIL_SENDER: "no-reply@{{ .Values.fqdn }}"
                WAKAPI_MAIL_SMTP_HOST:
                  secretKeyRef:
                    name: smtp
                    key: hostname
                    expandObjectName: false
                WAKAPI_MAIL_SMTP_PORT: "587"
                WAKAPI_MAIL_SMTP_TLS: "true"
                WAKAPI_MAIL_SMTP_USER:
                  secretKeyRef:
                    name: smtp
                    key: username
                    expandObjectName: false
                WAKAPI_MAIL_SMTP_PASS:
                  secretKeyRef:
                    name: smtp
                    key: password
                    expandObjectName: false
    resources:
      requests:
        memory: 500Mi
        cpu: 250m
      limits:
        memory: 1Gi
        cpu: null
    global:
      traefik:
        fixedMiddlewares: []
    ingress:
      main:
        enabled: true
        annotations:
          homer.service.name: Monitoring
          homer.item.logo: "https://raw.githubusercontent.com/muety/wakapi/b3924c41191cdbad2fefdd22c8cf3308bb59616a/static/assets/images/logo.svg"
        hosts:
          - host: wakapi.{{ .Values.fqdn }}
            paths:
              - path: /
        tls:
          - secretName: "{{ .Values.fqdn }}-tls"
            hosts:
              - wakapi.{{ .Values.fqdn }}
    persistence:
      data:
        enabled: false
    configmap:
      authentik-blueprint:
        enabled: {{ and .Values.applications.wakapi.enabled (not .Values.applications.wakapi.trusted_header_auth) }}
        data:
          blueprint.yaml: |
            # yaml-language-server: $schema=https://goauthentik.io/blueprints/schema.json
            version: 1
            metadata:
              name: Wakapi OAuth2 Provider
            entries:
              - id: wakapi-provider
                model: authentik_providers_oauth2.oauth2provider
                identifiers:
                  name: Provider for Wakapi
                attrs:
                  authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
                  invalidation_flow: !Find [authentik_flows.flow, [slug, default-invalidation-flow]]
                  client_type: confidential
                  redirect_uris:
                    - matching_mode: strict
                      url: "https://wakapi.{{ .Values.fqdn }}/oidc/authentik/callback"
                  signing_key: !Find [authentik_crypto.certificatekeypair, [name, authentik Self-signed Certificate]]
                  client_id: !File /blueprints/mounted/secret-wakapi/client_id
                  client_secret: !File /blueprints/mounted/secret-wakapi/client_secret
                  property_mappings:
                    - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
                    - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
                    - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
              - id: wakapi-app
                model: authentik_core.application
                identifiers:
                  slug: wakapi
                attrs:
                  name: Wakapi
                  provider: !KeyOf wakapi-provider
                  policy_engine_mode: any
    extraTpl:
      - |
        apiVersion: external-secrets.io/v1
        kind: ExternalSecret
        metadata:
          name: wakapi
          namespace: "{{ .Values.applicationsNamespace }}"
        spec:
          refreshPolicy: CreatedOnce
          creationPolicy: Owner
          deletionPolicy: Retain
          target:
            name: wakapi
          dataFrom:
            - sourceRef:
                generatorRef:
                  apiVersion: generators.external-secrets.io/v1alpha1
                  kind: ClusterGenerator
                  name: huge-ascii-password-generator
              rewrite:
                - transform:
                    template: password_salt
            - sourceRef:
                generatorRef:
                  apiVersion: generators.external-secrets.io/v1alpha1
                  kind: ClusterGenerator
                  name: alphanumerical-password-generator
              rewrite:
                - transform:
                    template: client_id
            - sourceRef:
                generatorRef:
                  apiVersion: generators.external-secrets.io/v1alpha1
                  kind: ClusterGenerator
                  name: huge-alphanumerical-password-generator
              rewrite:
                - transform:
                    template: client_secret
{{- end }}
